<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="Automation Suite" verbose="1" thread-count="1" parallel="tests">
    <test name="FinalProject" parallel="tests">
        <classes>
            <class name="AddToBagTest"/>
            <class name="LoginPageTest"/>
            <class name="ProductPageTest"/>
        </classes>
    </test>

</suite>